# R specific files and directories to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
# JetBrains IDEs
.idea/
# Documentation and data directories
docs
inst/doc
# Data and resources directories
data
output*
.qodo
